<h1>About this project</h1>
<p>It's a website and it's entire purpose is to be created and destroyed, so I can learn how to create and destroy other websites. If this website were self-aware, it would probably be freaking out right now.</p>
